.response-header {
  color: white;
  padding: 1em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 2em;
  background: #757575;
}

.response-200 {
  background: #00C853;
}

.response-300 {
  background: #283593;
}

.response-400 {
  background: #F57F17;
}

.response-500 {
  background: #B71C1C;
}

.response-file {
  background: #E91E63;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.scroll {
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  right: -5px;
  background: transparent !important;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(158, 158, 158, 0.8);
}
