<div class="animate__animated animate__bounceIn">
  <div class="row ml-0 mr-0 mb-4">
    <div class="col-md-12 text-center">
      <button
        mat-mini-fab
        color="primary"
        [routerLink]="['/']"
        matTooltip="Go to home"
      >
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>


  <div *ngFor="let item of src" class="row mb-3">
    <div class="col-md-12">
      <h2>{{ item.name }}</h2>
    </div>

    <div *ngFor="let element of item.elements" class="col-md-12">
      <div
        mat-ripple
        class="row ml-0 mr-0 pointer"
        routerLinkActive="selected"
        [routerLink]="['documentation', item.name, element.mapping]"
      >
        <div
          class="name-position"
          [class.col-md-9]="element.access === 'get' || element.access === 'post' || element.access === 'put'"
          [class.col-md-8]="element.access === 'delete' || element.access === 'patch'"
        >
          {{ element.name }}
          <em
            *ngIf="element.authorization"
            class="mdi mdi-lock-alert-outline auth-color"
          >
          </em>
        </div>

        <div
          class="text-right"
          [class.col-md-3]="element.access === 'get' || element.access === 'post' || element.access === 'put'"
          [class.col-md-4]="element.access === 'delete' || element.access === 'patch'"
        >
          <mat-chip-list>
            <mat-chip
              [class.get]="element.access === 'get'"
              [class.post]="element.access === 'post'"
              [class.put]="element.access === 'put'"
              [class.delete]="element.access === 'delete'"
              [class.patch]="element.access === 'patch'"
            >
              {{ element.access }}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <hr />
    </div>

    <div *ngIf="item.elements.length === 0" class="col-md-12 text-center">
      No hay elementos para mostrar
    </div>
  </div>
</div>
