hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color: gainsboro;
  height: 1px;
}

.name-position {
  padding-top: 6px;
}

.pointer {
  cursor: pointer;
}

.selected {
  font-weight: bold;
}

.get {
  color: white !important;
  background: #00B0FF !important;
  right: -7px !important;
}

.post {
  color: white !important;
  background: #00E676 !important;
  right: 1px !important;
}

.put {
  color: white !important;
  background: #FF9100 !important;
  right: -6px !important;
}

.delete {
  color: white !important;
  background: #F44336 !important;
  right: -10px !important;
}

.patch {
  color: white !important;
  background: #1DE9B6 !important;
  right: -13px !important;
}
