hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color: gainsboro;
  height: 1px;
}

.name-position {
  padding-top: 6px;
}

.pointer {
  cursor: pointer;
}

.selected {
  font-weight: bold;
}

.get {
  color: white !important;
  background: #00B0FF !important;
  right: -7px !important;
}

.post {
  color: white !important;
  background: #00E676 !important;
  right: 1px !important;
}

.put {
  color: white !important;
  background: #FF9100 !important;
  right: -6px !important;
}

.delete {
  color: white !important;
  background: #F44336 !important;
  right: -10px !important;
}

.patch {
  color: white !important;
  background: #1DE9B6 !important;
  right: -13px !important;
}

.public {
  color: white !important;
  background: #3F51B5 !important;
  right: -11px !important;
}

.private {
  color: white !important;
  background: #9C27B0 !important;
  right: -6px !important;
}

.protected {
  color: white !important;
  background: #00C853 !important;
  right: 11px !important;
}

.component {
  color: white !important;
  background: #F44336 !important;
  right: 22px !important;
}

.interface {
  color: white !important;
  background: #E91E63 !important;
  right: 7px !important;
}

.enum {
  color: white !important;
  background: #2196F3 !important;
  right: -13px !important;
}

.entity {
  color: white !important;
  background: #FF9800 !important;
  right: -14px !important;
}

.shell {
  color: white !important;
  background: #795548 !important;
  right: -19px !important;
}

.directive {
  color: white !important;
  background: #AA00FF !important;
  right: 5px !important;
}

.service {
  color: black !important;
  background: #FFD600 !important;
  right: -4px !important;
}

.guard {
  color: black !important;
  background: #AEEA00 !important;
  right: -13px !important;
}

.pipeline {
  color: white !important;
  background: #00796B !important;
  right: 1px !important;
}

.stylesheet {
  color: white !important;
  background: #FF4081 !important;
  right: 16px !important;
}

.module {
  color: white !important;
  background: #C62828 !important;
  right: -2px !important;
}

._class {
  color: white !important;
  background: #FF5722 !important;
  right: -16px !important;
}

.auth-color {
  color: #F57F17;
}

.book-mark {
  color: #FF5252;
}
