<div class="animate__animated animate__bounceIn">
  <div class="row ml-0 mr-0 mb-4">
    <div class="col-md-12 text-center">
      <button
        mat-mini-fab
        [class.mr-2]="dual"
        color="primary"
        matTooltip="Go to home"
        (click)="goToHome()"
      >
        <mat-icon>home</mat-icon>
      </button>

      <button
        *ngIf="dual"
        mat-mini-fab
        color="primary"
        [matTooltip]="docType === 'rest' ? 'Functional' : 'REST'"
        (click)="goToDocument()"
      >
        <mat-icon>{{ docType === 'rest' ? 'chrome_reader_mode' : 'dns' }}</mat-icon>
      </button>
    </div>
  </div>


  <div *ngFor="let item of src" class="row mb-3">
    <div class="col-md-12">
      <h2>{{ item.name }}</h2>
    </div>

    <div *ngFor="let element of item.elements" class="col-md-12">
      <div
        mat-ripple
        class="row ml-0 mr-0 pointer"
        routerLinkActive="selected"
        [routerLink]="[
          element.mapping ? 'documentation' : 'documentations',
          item.name,
          element.mapping ? element.mapping : element.name,
          element.access
        ]"
      >
        <div
          class="name-position"
          [class.col-md-9]="element.access === 'get' || element.access === 'post' || element.access === 'put'"
          [class.col-md-8]="
            element.access === 'delete' ||
            element.access === 'patch' ||
            element.access === 'public' ||
            element.access === 'private' ||
            element.access === 'protected' ||
            element.access === 'component' ||
            element.access === 'interface' ||
            element.access === 'enum' ||
            element.access === 'entity' ||
            element.access === 'directive' ||
            element.access === 'service' ||
            element.access === 'guard' ||
            element.access === 'pipeline' ||
            element.access === 'stylesheet' ||
            element.access === 'module' ||
            element.access === 'shell'
          "
        >
          <span [matTooltip]="element.name">
            {{ limitText(element.name) }}
          </span>

          <em
            *ngIf="element.authorization"
            class="mdi mdi-lock-alert-outline auth-color"
          >
          </em>

          <em *ngIf="element.bookmark" class="mdi {{ element.bookmark }} book-mark"></em>
        </div>

        <div
          class="text-right"
          [class.col-md-3]="element.access === 'get' || element.access === 'post' || element.access === 'put'"
          [class.col-md-4]="
            element.access === 'delete' ||
            element.access === 'patch' ||
            element.access === 'public' ||
            element.access === 'private' ||
            element.access === 'protected' ||
            element.access === 'component' ||
            element.access === 'interface' ||
            element.access === 'enum' ||
            element.access === 'entity' ||
            element.access === 'directive' ||
            element.access === 'service' ||
            element.access === 'guard' ||
            element.access === 'pipeline' ||
            element.access === 'stylesheet' ||
            element.access === 'module' ||
            element.access === 'shell'
          "
        >
          <mat-chip-list>
            <mat-chip
              [class.get]="element.access === 'get'"
              [class.post]="element.access === 'post'"
              [class.put]="element.access === 'put'"
              [class.delete]="element.access === 'delete'"
              [class.patch]="element.access === 'patch'"
              [class.public]="element.access === 'public'"
              [class.private]="element.access === 'private'"
              [class.protected]="element.access === 'protected'"
              [class.component]="element.access === 'component'"
              [class.interface]="element.access === 'interface'"
              [class.enum]="element.access === 'enum'"
              [class.entity]="element.access === 'entity'"
              [class.directive] ="element.access === 'directive'"
              [class.service] ="element.access === 'service'"
              [class.guard] ="element.access === 'guard'"
              [class.pipeline] ="element.access === 'pipeline'"
              [class.stylesheet] ="element.access === 'stylesheet'"
              [class.module]="element.access === 'module'"
              [class.shell]="element.access === 'shell'"
            >
              {{ element.access }}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <hr />
    </div>

    <div *ngIf="item.elements.length === 0" class="col-md-12 text-center">
      No hay elementos para mostrar
    </div>
  </div>
</div>
