.icon-check {
  position: absolute;
  color: #4CAF50;
}

.icon-problem {
  position: absolute;
  color: #FF9800;
}

.icon-error {
  position: absolute;
  color: #F44336;
}

.scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.scroll::-webkit-scrollbar {
  height: 5px !important;
  background: transparent !important;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(158, 158, 158, 0.8);
}
