.public {
  color: white !important;
  background: #3F51B5 !important;
}

.private {
  color: white !important;
  background: #9C27B0 !important;
}

.protected {
  color: white !important;
  background: #00C853 !important;
}

.component {
  color: white !important;
  background: #F44336 !important;
}

.interface {
  color: white !important;
  background: #E91E63 !important;
}

.enum {
  color: white !important;
  background: #2196F3 !important;
}

.entity {
  color: white !important;
  background: #FF9800 !important;
}

.shell {
  color: white !important;
  background: #795548 !important;
}

.directive {
  color: white !important;
  background: #AA00FF !important;
}

.service {
  color: black !important;
  background: #FFD600 !important;
}

.guard {
  color: black !important;
  background: #AEEA00 !important;
}

.pipeline {
  color: white !important;
  background: #00796B !important;
}

.stylesheet {
  color: white !important;
  background: #FF4081 !important;
}

.module {
  color: white !important;
  background: #C62828 !important;
}

.name-position {
  left: -50px;
}
