<div *ngIf="doc">
  <div class="row">
    <div class="col-md-12">
      <h2>
        <img *ngIf="doc.icon" class="icon-size mr-2" [src]="doc.icon"/>
        {{ doc.title }}
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 mt-2">
      <strong>version:</strong>
    </div>

    <div class="col-md-11">
      <mat-chip-list>
        <mat-chip>{{ doc.version }}</mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      {{ doc.description }}
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12" *ngFor="let bookmark of doc.bookmarks">
      <h5>
        <em
          class="mdi mdi-{{ bookmark.icon ? bookmark.icon : 'bookmark' }}"
          [style]="{ color: bookmark.color }"
        >
        </em>

        {{ bookmark.name }}
      </h5>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-1 mt-1 text-center">
      <div
        [inlineSVG]="'/assets/svg/logo.svg'"
        [setSVGAttributes]="{ style: 'width: 50px; height: 50px' }"
      >
      </div>
    </div>

    <div class="col-md-11">
      <strong>Reactive Doc</strong> es un software libre creado por <strong>Pecheblenda Software.</strong>
      No no hacemos responsables por el uso comercial que se le pueda dar a este software ni como pueda ser
      utilizado por terceros.
      Gracias por estar con nosotros <em class="mdi mdi-heart"></em>. Estas usando la version <strong>alpha-0.0.1</strong>.
      Para mas documentación de como usar nuestro software te invitamos a ir al siguiente link
      <a href="www.google.com">Reactive CLI Doc</a>.
    </div>
  </div>
</div>
